ts-project-accounts-toolbar

.ts-project-accounts__account-list
  ts-listview(
    items="$ctrl.accounts"
  )
    ts-listitem(
      icon="{{$parent.item.img_xs}}",
      title="{{$parent.item.name}}",
      subtitle="{{$parent.item.object_type}}"
    )
