$navbar-item-padding: 1rem;

// .navbar element must be placed inside a flexbox
// container for purpose of vertical alignment

ts-navbar {
  display: flex;

  .ts-navbar {

    &__item {
      align-items: center;
      display: flex;
      padding: 0 $navbar-item-padding;
      white-space: nowrap;
    }
  }
}
