.ts-header__main-nav
  ts-toolbar(
    navs="$ctrl.mainNav",
    on-click="$ctrl.onItemClick(item)")
.ts-header__sub-nav
  ts-toolbar(
    navs="$ctrl.subNav",
    on-click="$ctrl.onItemClick(item)")
