$background-color: $header-background-color;
$text-color: $dt-primary-text-color;

ts-header {

  background: $background-color;
  color: $text-color;
  display: flex;
  height: $header-height;

  .ts-header {

    &__main-nav {
      display: flex;
      order: 2;
      flex: 1;
      justify-content: flex-end;
    }

    &__sub-nav {
      display: flex;
      order: 1;
      flex: 1;
      justify-content: flex-start;
    }
  }
}
