ts-account {
  display: flex;
  color: $primary-text-color;
  white-space: nowrap;

  .ts-account {

    &__logo {
      border-radius: 50%;
      overflow: hidden;
    }

    &__title {
      padding: 0.5rem 0 0 1rem;
    }
  }
}
