$toolbar-padding: 0.5rem;
$toolbar-item-padding: 0.1rem;
$toolbar-title-padding: 0.5rem;

// Toolbar element must be placed inside a flexbox
// container for purpose of vertical alignment

ts-toolbar {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  padding: 0 $toolbar-padding;
}

.ts-toolbar {

  &__group {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0 $toolbar-item-padding;
    white-space: nowrap;
    color: $secondary-text-color;
  }

  &__title {
    padding: 0 $toolbar-title-padding;
    color: $primary-text-color;
  }
}
