ts-button {
  display: flex;
  align-items: center;

  color: currentColor;
  cursor: pointer;
  user-select: none;

  .ts-button {

    &__icon {
    }

    &__divider {
      margin: 0 0.25rem;
    }

    &__title {
    }
  }
}
