.ts-main-activity__container
  ts-main-toolbar.ts-main-activity__toolbar
  ng-view.ts-main-activity__view

ts-accounts-manager.ts-main-activity__sidebar.right(
  ng-show="$ctrl.showAccountsActivity"
)
