$main-toolbar-bg-color: $background-main-toolbar;
$main-toolbar-text-color: $primary-text-color-invert;
$main-toolbar-height: $toolbar-height;
$main-sidebar-border-color: grey;

ts-main-activity {
  display: flex;

  .ts-main-activity {

    &__container {
      display: flex;
      flex-direction: column;
      height: 100%;

      flex-grow: 1;
      order: 1;
    }

    &__toolbar {
      height: $main-toolbar-height;
      flex-shrink: 0;
    }

    &__view {
      display: block;
      overflow: auto;
    }

    &__sidebar {

      &.left {
        flex-basis: 20%;
        order: 0;
        border-right: 1px solid $main-sidebar-border-color;
      }
      &.right {
        flex-basis: 20%;
        order: 2;
        border-left: 1px solid $main-sidebar-border-color;
      }
    }
  }
}
