ts-toolbar
  .ts-toolbar__group
    .ts-toolbar__item
      .ts-toolbar__title
        ts-button.default(
          title="TrickySMM",
          ng-click="$ctrl.onMainActivityOpen()")

  .ts-toolbar__group
    .ts-toolbar__item
      ts-button.round(
        svg="icon-accounts",
        ng-click="$ctrl.onProjectAccountsActivityOpen()")
