ts-account-list {
  display: block;
  background-color: $background-activity;
  overflow: auto;

  .ts-account-list {

    &__item {
      padding: 1rem;
      border-bottom: 1px solid $dividers-text-color;
    }
  }
}
