ts-accounts-manager {
  background: $background-activity;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ts-accounts-manager {

  &__network-list {
  }

  &__account-list {
    overflow: auto;
  }

  &__empty-state {
    align-items: center;
    display: flex;
    height: 75%;
    justify-content: center;
  }
}
