$accounts-toolbar-bg-color: grey;
$accounts-toolbar-text-color: $primary-text-color-invert;
$accounts-bg-color: $background-activity;
$accounts-text-color: $primary-text-color;
$accounts-divider-color: lightgrey;
$accounts-toolbar-height: $toolbar-height;
$accounts-netlist-bg-color: #909096;
$accounts-netlist-text-color: $primary-text-color-invert;

ts-accounts-manager {
  display: flex;
  flex-direction: column;
  height: 100%;

  .ts-accounts-manager {

    &__acc-list {
    }

    &__net-list {
    }
  }
}
