ts-multiline {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.ts-multiline {

  &__title {
    color: $primary-text-color;
    padding-top: 0.5rem;
  }

  &__subtitle {
    color: $secondary-text-color;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
  }
}
