$background: $background-toolbar;

ts-network-list {
  background: $background;
  border-top: 1px solid $dividers-text-color;
  color: $primary-text-color-invert;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
}

.ts-network-list {

  &__item {
    cursor: pointer;
    padding: 0.5rem;
  }
  &__item:hover {
    background: darken($background, 3%);
  }

  &__button {
    color: currentColor;
    font-size: 2rem;
  }
}
