$background: $background-toolbar;

ts-network-list {
  display: flex;
  justify-content: center;
  flex-shrink: 0;

  background: $background;
  color: $primary-text-color;

  .ts-network-list {

    &__item {
      cursor: pointer;
      padding: 0.5rem;

      .ts-button__icon {
        font-size: 2rem;
      }
    }
    &__item:hover {
      background: darken($background, 5%);
    }
  }
}
