ts-new-post-header

.ts-new-post__content
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur illum quaerat autem esse laudantium voluptatem dolorem itaque, quae nemo? Praesentium vero, excepturi nostrum? Quibusdam pariatur sapiente provident enim inventore sint.
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur illum quaerat autem esse laudantium voluptatem dolorem itaque, quae nemo? Praesentium vero, excepturi nostrum? Quibusdam pariatur sapiente provident enim inventore sint.
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur illum quaerat autem esse laudantium voluptatem dolorem itaque, quae nemo? Praesentium vero, excepturi nostrum? Quibusdam pariatur sapiente provident enim inventore sint.

ts-new-post-header
