$background: $background-dialog;

ts-listview {
  display: block;
}

.ts-listview {

  &__item {
    background: $background;
    border-bottom: 1px solid $dividers-text-color;
    padding: 1rem 1.25rem;
  }

  &__item:hover {
    background: darken($background, 3%);
  }

  &__item.active {
  }
}
