$primary-text-color: rgba(0,0,0,0.87);
$secondary-text-color: rgba(0,0,0,0.54);
$disabled-text-color: rgba(0,0,0,0.38);
$dividers-text-color: rgba(0,0,0,0.12);

$primary-text-color-invert: rgb(255,255,255);
$secondary-text-color-invert: rgba(255,255,255,0.7);
$disabled-text-color-invert: rgba(255,255,255,0.5);
$dividers-text-color-invert: rgba(255,255,255,0.12);

$primary-color: #9C27B0;
$primary-lighten-color: #BA68C8;
$primary-darken-color: #7B1FA2;

$accent-color: #FF9100;

$active-icon-color: rgba(0,0,0,0.54);
$inactive-icon-color: rgba(0,0,0,0.38);

$background-main-toolbar: linear-gradient(135deg, #536DFE, #7C4DFF);
$background-toolbar: #e0e0e0;
$background-activity: #fafafa;
$background-dialog: #ffffff;

$toolbar-height: 60px;
