// Text color

$lt-primary-text-color: rgba(0,0,0,0.87);
$lt-secondary-text-color: rgba(0,0,0,0.54);
$lt-disabled-text-color: rgba(0,0,0,0.38);
$lt-dividers-color: rgba(0,0,0,0.12);

$dt-primary-text-color: rgb(255,255,255);
$dt-secondary-text-color: rgba(255,255,255,0.7);
$dt-disabled-text-color: rgba(255,255,255,0.5);
$dt-dividers-color: rgba(255,255,255,0.12);

// Header

$header-background-color: linear-gradient(135deg, #536DFE, #7C4DFF);
$header-height: 60px;

// Activity

$activity-background-color: #fafafa;

